/* File Author: Jonathan Asuncion */
@font-face {
    font-family: "Leg";
    src: url(/font/Leg.ttf);
  }
  
  @font-face {
    font-family: "LegH";
    src: url(/font/LegHead.ttf);
  }

  @font-face {
    font-family: "LegB";
    src: url(/font/LegBold.ttf);
  }

  @font-face {
    font-family: "VALORANT";
    src: url(/font/Valorant\ Font.ttf);
  }

  * {
      margin: 0;
      padding: 0;
  }
  html {
      scroll-snap-type: y mandatory;
  }
  
  section {
      position: relative;
      height: 100vh;
      scroll-snap-align: start;
      display: flex;
  }
 
  /* Nav Bar */

  nav {
    position: sticky;
    top: 0px;
    z-index: 10000;
    width: 100;
}

#sse1 {
    position: sticky;
    top: 0px;
    background: black;
    z-index: 100;
    overflow: hidden;
    height: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#sses1 ul {
    display: flex;
    border-bottom: solid 2px #247184;
}

#sses1 li a {
    margin: 0 30px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'VALORANT', sans-serif;
}


  body {
    background-image: url(/image/leg_leaderb.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .container {
    justify-content: center; 
    margin: 0 auto;
  }
  th#rankHeader {
    border-left: 1px solid goldenrod;
    border-top: 1px solid goldenrod;
    }
  th#regionHeader{
    border-top: 1px solid goldenrod;
  }  
  th#acts {
    border-right: 1px solid goldenrod;
    border-top: 1px solid goldenrod;
    }
  #rankDrop{
    position:relative;
    width: 2.5vh;
    z-index: 3;
    top: -2.4vh;
    left: 5.5vh;
  }

  #rankIMG{
    position: relative;
    width: 15vh;
    z-index: 1;
  }
  
  #rankName{
    position: relative;
    font-size: 2.5vh;
    z-index: 2;
    bottom: -1.4000000000000004vh;
    left: -1vh;
  }
 
  .table th #rankIMG {
    max-width: 75%;
    max-height: 75%;
    top: 2vh;
    margin: 0 auto; /* Center horizontally */
  }
  .table #regions {
    width: 60vh;
    font-size: 5vh;
  }
  .table th h1 {
    font-weight: bold;
    font-size: 6vh;
    text-align: center;
    color: rgb(203, 148, 8);
  }
  
  .table #gameMode {
    width: 30vh;
    font-size: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .table #regionList {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .table #regionList h1 {
    margin-right: 10px;
  }

  a#gameList {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
  
  .table #acts h1 {
    font-size: 3vh;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.table #acts .caret {
    z-index: 3;
    top: -0.3vh;
  }
  .table th .caret {
    position: relative;
    width: 3vh;
    justify-content: right;
  }
  
  .table th {
    font-family: LegB;
    text-shadow: .2vh .2vh black;
    height: 15vh;
    width: 20vh;
    background-color: #0c1c24;
  }

  .table tr h1{
    color: rgb(203, 148, 8);

  }
  .table #body td {
    font-weight: normal;
    font-size: 1em;
    height: 10vh;
   background-color: rgba(228, 220, 220,.4)
  }
  
  .table {
    text-align: center;
    display: table;
    align-items: center;
    text-align: center; /* Center the content within the table */
    padding-bottom: 30px;
    z-index: 1;
    border-spacing: 1px;
    border-color: rgba(77, 77, 55, 0.727);
  }
  
  
  
  #episodeTable {
    background-color: #0c1c24;
    position: absolute;
    width: 30vh ;
    top: 40.5vh;
    right: 41.7vh;
    display: none;
    font-family: "Leg";
    text-align: center;
    color: rgb(203, 148, 8);
  }
  
  #regionTable #regions{
    text-align: left;
    list-style-type: none;
    align-items: center;
    align-self: center;
    align-content: center;
  }
  #regionTable li{
    padding: .5vh;
  }
  
  #regionTable {
    background-color: #0c1c24;
    border-top: 1px solid goldenrod;
    position: absolute;
    width: 15vh;
    top: 35.5vh;
    left: 97.7vh;
    display: none;
    font-family: "Leg";
    text-align: center;
    color: rgb(203, 148, 8);
  }

    #rankTable #ranks{
    text-align: left;
    list-style-type: none;
    
  }
  #rankTable li{
    padding: .5vh;
  }
  
  #rankTable {
    top: 40vh;
    left: 65vh;
    background-color: #0c1c24;
    border-top: 1px solid goldenrod;
    position: absolute;
    width: 15vh ;
    display: none;
    font-family: "Leg";
    text-align: center;
    color: rgb(203, 148, 8);
  }

  #gameMode #gameModes{
    text-align: left;
    list-style-type: none;
    
  }
  #gameMode li{
    padding: .5vh;
  }
  
  #gameMode {
    background-color: #0c1c24;
    border-top: 1px solid goldenrod;
    position: absolute;
    width: 15vh;
    top: 35.5vh;
    left: 138.7vh;
    display: none;
    font-family: "Leg";
    text-align: center;
    color: rgb(203, 148, 8);
  }
  
  #episodeTable #episodeList{
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    list-style-type: none;
  }
  
  
  .table #labels td{
    font-family: "Leg";
    text-align: center;
    font-size: 1.5vh;
    height: 5vh;
    color: #C89B3C;
    background-color:#1f2d35;
  
  }
  
  .table #labels #nameLabel{
    
    min-width: 20vw;
    max-width: 20vw;
  
    
  }

  #regList ,#regList option ,#searchButton, #regList input{
    font-family: "Leg";
    color: #C89B3C;
    background-color: #1f2d35;
    border-color: #C89B3C;
  }
  
  #searchKey{
    width: 270px;
    background-color: #26333a;
    color: #C89B3C;
    border-color: #091428;
  }

  #searchButton{
    width: 100px;
  }

  #indiv{
    padding: 10px;
    margin-bottom: 20px;
  }

  div#indiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.indivEl {
  margin:1px;
  min-height: 20px;
  font-size: 25px;
}
  .table #body #name{
    padding-left: 10px;
    text-align: left;
    font-size: .7em; 
    min-width: 20vw;
    max-width: 20vw;
  }

  #leaderbTitle{
    font-family: 'LegB';
    font-size: 6vh;
    text-shadow: .6vh .6vh black;
    display: block;
    color: rgb(203, 148, 8);
    margin: auto;
    z-index: 2;
  }

  #body h1, #body h2 {
    color: #0A323C;
  }

  #searchKey {
    border-color: #a77508;
  }
  
  #playerTable tr{
    font-weight: normal;
    font-size: 1em;
    height: 10vh;
   background-color: rgba(228, 220, 220,.4)
  }
  #playerTable td {
    padding: 15px;
    font-family: "Leg";
  }
  #playerTable h1{
    color: #a77508;
    text-shadow: 2px 2px #0f1923;
  }

  #summ, #stat{
    background-color:#0c1c24;
    
  }

  #summ{
    border-left: 1px solid goldenrod;
    border-top: 1px solid goldenrod;
  }

  #stat{
    border-right: 1px solid goldenrod;
    border-top: 1px solid goldenrod;
  }
  table#playerTable{
    margin-bottom: 50px;
  }

  #playerIcon{
    border-style: outset;
    border-color: #a77508;
    border-width: 7px;
  }