@font-face {
  font-family: "VALORANT";
  src: url(/font/Valorant\ Font.ttf);
}

:root {
    --viewport-height: 100vh;
    --card-height: calc(var(--card-height) / 1.5);
    --background-color: #0f1923;
    --card-width: 300px; 
}
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-snap-type: y mandatory;
}

section {
    position: relative;
    min-height: 100vh;
    scroll-snap-align: start;
    display: flex;
}

.layer1 {
    background: black;
}

.layer2 {
    background-image: url(/image/sec2.jpg);
    background-size: cover;
    background-position: left;
}

.layer3 {
  background: linear-gradient(#081424, #ff2434);
}


/* Nav Bar 
  Coder: Aivein Casibang
  This code is for the styling of the navigation bar. 
*/
nav {
    position: sticky;
    top: 0px;
    z-index: 10000;
    width: 100;
}

#sse1 {
    position: sticky;
    top: 0px;
    background: black;
    z-index: 100;
    overflow: hidden;
    height: 30px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#sses1 ul {
    display: flex;
    border-bottom: solid 2px #6C0000;
}

#sses1 li a {
    margin: 0 30px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'VALORANT', sans-serif;
}


/* Video
  Coder: Aivein Casibang
  This is for the videos' size in the home section 
*/

#bg_video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

/* Volume
  Coder: Aivein Casibang
  This is for the volume icon 
 */
.layer1 .volume{
    z-index: 888;
    position: absolute;
    right: 30px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.layer1 .volume a{
    color: #ff2434;
    font-size: 1.6;
}

/* Overview Texts
  Coder: Aivein Casibang
  This is for stlying the overview 
*/
#text-container {
  position: relative;
  display: block;
}


#overview-title {
  font-size: 10vh;
  font-family: 'VALORANT';
  color: #ff2434;
  margin-top: 20.5vh;
  margin-left: 150px;
}

#cs_l {
  margin-top: 11.5vh;
}

#overview-title #title {
  color: #fff;
}

#text-container #intro {
  font-size: 2rem; 
  font-family: 'VALORANT';
  color: #ff2434;
  margin-top: 100px;
  margin-left: 220px;
}

#text-container #description{
  font-size: 1rem; 
  font-family: "LegB";
  color: #fff;
  margin-top: 10px;
  margin-left: 220px;
  
}

/* css to center and fit the eleement in section 3 */
.layer3 {   
    position: relative;
    align-items: center ;
}

/* This is for hovering card in the tracker section
  They're meant to be the links to go to the leaderboards
  Maker: Aivein Casibang
*/

.card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 36px;
    perspective: 2500px;
    margin: 0 50px;

  }
  
  .cover-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 120%;
    z-index: -1;
  }

  #tracker{
    display: flex;
    justify-content: space-evenly;
  }
  
  .card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow:
    inset 0 0 60px #101424,
    inset 20px 0 80px #101424,
    inset -20px 0 80px #101424,
    inset 20px 0 300px #ff2434,
    inset -20px 0 300px #101424,
    0 0 50px #ff2434,
    -10px 0 80px #ff2434,
    10px 0 80px #101424;
  }

  
  .wrapper::before,
  .wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
  }

  table#playerTable {
    margin-bottom: 50px;
}
  .wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
      to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }

  .wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
      to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }
  
  .card:hover .wrapper::before,
  .wrapper::after {
    opacity: 1;
  }
  
  .card:hover .wrapper::after {
    height: 120px;
  }
  .title {
    bottom: 0;
    width: 50%;
  }
  
  .character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
  }
  
  .card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -70%, 100px);
  }


/* BUTTONS 
  This is for switching videos in the home
*/
.layer1 #buttons {
  display: flex;
}

.btn {
  background-color: black;
  color: var(--button-text-color);
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  box-sizing: content-box;
  --highlight-color: #ff2434;
  padding: 8px; 
  text-transform: uppercase;
  font-weight: bold;
  font-family: "valorant";
  font-size: 14px;
  margin-top:  93vh;
  width: auto;
  height: auto;
  transition: all .15s ease;
  z-index: 2;
 }

.btn__inner {
  position: relative;
  display: block;
  padding: 10px 10px;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
}

.btn__inner::after {
  display: block;
  position: absolute;
  right: 0; bottom: 0;
  width: 4px;
  height: 4px;
  background-color: black;
  transition: all .2s ease;
}

.btn__slide {
  position: absolute;
  top: 0; bottom: -1px; left: -8px;
  width: 0;
  background-color: #ff2434;
  transform: skew(-15deg);
  transition: all .2s ease;
}

.btn__content {
  position: relative;
}

.btn__content:hover {
  color: white
}

.btn:hover {
  color: white;
  width: auto;
  z-index: 3;
}

.btn:hover .btn__slide {
  width: calc(100% + 15px);
}

.btn:hover .btn__inner::after {
  background-color: white;
}

.btn--light {
  --button-background-color: var(--background-color);
  --button-text-color: var(--highlight-color);
  --button-inner-border-color: var(--highlight-color);
  --button-text-color-hover: #ece8e1;
  --button-bits-color-hover: #ece8e1;
}
/* About Us
  Coder: Aivein Casibang
  This is for introducing the team an their socials
*/
  .layer4 {
    position: relative;
    background-image: url("/image/jett2.png");
    background-size: contain;
  }

  #team {
    position: absolute;
    display: block;
    font-size: 5rem;
    right: 5vw;
    top: 15vh;
    color: #ff2434;
    font-family: 'Valorant';
  }

  .row {
    display: flex;
    padding: 30px;
    margin: auto;
  }
  
  .our-team {
    position: relative;
    padding: 1.2rem 0.75rem;
    background: black;
    border-radius: 1rem;
    text-align: center;
    border: 0.5px solid white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
      rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
  }
 .our-team h3 {
    font-size: 1rem;
    font-family: 'Valorant';
    color: white;
  }

  .our-team .pic {
    display: inline-block;
    width: 50%;
    height: 50%;
    background: black;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    transition: all 0.5s ease 0s;
  }
  .our-team:hover .pic {
    background: #ff2434;
    border-radius: 50%;
  }
  .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  .our-team .post {
    display: block;
    font-size: .9rem;
    font-family: 'Valorant';
    color: #ff2434;
    margin-top: .4rem;
    margin-bottom: .3rem;
  }
  .our-team .social {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .our-team .social li {
    display: inline-block;
      margin-right: 5px;
    }
  .our-team .social li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    align-content: center;
    border-radius: 50%;
    font-size: 1rem;
    transition: all 0.5s ease 0s;
  }
  .our-team:hover .social li a {
    background: #ff2434;
    color: #fff;
  }

  .social li a:hover {
    background-color: #ff2434 !important;
    border: none;
    text-decoration: none;
  }


  @font-face {
    font-family: "LegB";
    src: url(/font/LegBold.ttf);
  }

  

