/* Coder: Aivein Casibang
 */
@font-face {
    font-family: "VALORANT";
    src: url(/font/Valorant\ Font.ttf);
  }
  
  :root {
      --viewport-height: 100vh;
      --card-height: calc(var(--card-height) / 1.5);
      --background-color: #0f1923;
      --card-width: 300px; 
  }
  * {
      margin: 0;
      padding: 0;
  }
  html {
      scroll-snap-type: y mandatory;
  }
  
  body {
      position: relative;
      display: flex;
      justify-content: center;
      height: auto;
  }
  
  /* Nav Bar */
nav {
    position: sticky;
    top: 0px;
    z-index: 1000000000;
    width: 100;
}

#sse1 {
    position: sticky;
    top: 0px;
    background: black; 
    z-index: 100;
    overflow: hidden;
    height: 30px;
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sses1 ul {
    display: flex;
    border-bottom: solid 2px #6C0000;
}

#sses1 li a {
    margin: 0 30px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'VALORANT', sans-serif;
}
  /* Nav Bar */


  /* Background Image */
  body {
    background-image: url("/image/valo_bg_main.jpg");
    background-size: auto;
  }


  /* Table CSS */
h1 {
  font-family: "Valorant";
  font-weight: 300;
  line-height:1em;
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  color: #ff2434;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}
.container {
  position: absolute;
  align-items: center; 
}

.table th #radiant {
  max-width: 75%;
    max-height: 75%;
  display: block; 
  margin: 0 auto; 
}
.table #leader {
  width: 60vh;
  font-size: 5vh;
}
.table th h1 {
	  font-weight: bold;
	  font-size: 1em;
   text-align: center;
  color: white;
}

.table #toggleList {
  width: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table #regionList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table #regionList h1 {
  margin-right: 10px;
}

.table #acts h1 {
  margin-right: 10px;
} 
.table th #caret {
  width: 3vh;
  display: block; 
  justify-content: right;
}

.table th {
  height: 15vh;
  width: 20vh;
  background-color: #0c1c24;
}
.table #body td {
	  font-weight: normal;
	  font-size: 1em;
    height: 10vh;
     background-color: rgba(228, 220, 220,.4)
}

.table {
	text-align: center;

  display: table;
  padding-top: 25vh;
  align-items: center;
  text-align: center;
  padding-bottom: 100px;
}

#episodeTable {
  background-color: #0c1c24;
  position: absolute;
  width: 30vh ;
  top: 40.5vh;
  right: 41.7vh;
  display: none;
  font-family: "Valorant";
  text-align: center;
  color: white;
}

#regionTable #regionsList{
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  list-style-type: none;
}

#regionTable {
  background-color: #0c1c24;
  position: absolute;
  width: 30vh ;
  top: 40.5vh;
  right: 71.7vh;
  display: none;
  font-family: "Valorant";
  text-align: center;
  color: white;
}

#episodeTable #episodeList{
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  list-style-type: none;
}


.table #labels td{
  font-family: "Valorant";
  text-align: center;
  height: 5vh;
  background-color:rgba(250, 235, 215,.4);

}
.table #labels #nameLabel{
  
  min-width: 20vw;
  max-width: 20vw;
 
}

.table #body #name{
  padding-left: 10px;
  text-align: left;
  font-size: .7em; 
  min-width: 20vw;
  max-width: 20vw;
}

.table #body .info h4 {
  font-family: "Valorant";
}
.table #body .info h1{
font-family: 'Valorant';
}
.table #body #rank h3{
  font-family: "Valorant";
}

#LEADERBOARDS{
  position: absolute;
  top: 15vh;
  font-size: 3rem;
  display: block;
  color: #ff2434;
}
