/* Author: Dogui-is, Gerwin */
header {
  margin: 0;
}
body {
  font-family: 'Playfair Display', serif;
}

h2 {
  text-align: center;
  color: #073066;
  font-size: 1.7vw;
}


#columnText {
  float: left;
  width: 70%;
  font-size: 1.5vw;
}

#columnLogo {
  float: left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#sluLogo {
  height: 10vw;
  width: 10vw;
  padding-top: .5%;
  padding-left: .5%;
}

.row {
  color: #073066;
}

.row h1{
  margin-top: 5%;
  font-size: 125%;
  letter-spacing: .7vw;
}

.row h3 {
  font-size: 75%;
}

.blueBlock {
  background-color: #073066;
  margin: 0;
  width: 100%;
  height: 20%;
  background-size: cover;
  text-align: center;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  vertical-align: middle;
  float: left;
  padding: .5vw;
}

li a {
  display: inline;
  color: white;
  font-size: .9vw;
  text-align: center;
  text-decoration: none;
  margin-left: 15vw;
}
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 1vw;
    padding: 2vw;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 2vw;
    width: 20vw;
    height: 25vw;
  }

  .image-container {
    width: 20vw;
    height: 15vw;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
 
  #josh-jonathan {
    background-image: url('/images/team pictures/Jonathan.png');
    background-size: cover;
    width: 20vw;
    height: 15vw;
    transition: background-image 2s ease; /* Adding transition effect */
  }
  
  #josh-jonathan:hover {
    background-image: url('/images/team pictures/Josh.jpg');
  }
  
  
  
  @media screen and (min-width: 320px) and (max-width: 1023px) {
/* Header */
#columnLogo {
  width: 100%;
  text-align: center ;
}

#columnText {
  width: 100%;
  font-size: 4%;
  text-align: center;
}


#openForm {
  display: inline;
  color: black;
  font-size: 4vw;
  text-align: center;
  text-decoration: none;
  padding: 4vw 4vw;;
}

#sluLogo {
  height: 40vw;
  width: 40vw;
  text-align: center;
}

.blueBlock {
  overflow: hidden;
}

li.dropdown {
  display: inline-block;
}

.dropdown {
  display: flex;
  align-items: end;
  justify-content: end;
  text-align: left;
}

.dropdown a {
  font-size: 4vw;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 4vw 4vw;
  text-decoration: none;
  display: block;
  text-align: left
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-icon {
  width: 10vw;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
}

#columnText h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8vw;
}

#columnText h3 {
  font-size: 5vw;
}

ul li {
  width: 100%;
  padding: 2vw;
  font-size: 50%;
}

    .column {
      display: flex;
      float: none;
      width: 10vw;
      margin: 15vw;
      margin-left: 45vw;
      padding: 2vw;
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      margin: 2vw;
      width: 50vw;
      height: 50vw;
    }

    .image-container {
      width: 50vw;
      height: 50vw;
    }

     
  #josh-jonathan {
    background-image: url('php(client)/images/team pictures/Jonathan.png');
    background-size: cover;
    width: 50vw;
    height: 50vw;
    transition: background-image 2s ease; /* Adding transition effect */
  }
  
  #josh-jonathan:hover {
    background-image: url('php(client)/images/team pictures/Josh.jpg');
  }

  h2 {
    font-size: 5vw;
  }

  p {
    font-size: 3vw;
  }
  
  }