/* Author: Asuncion, Jonathan */

header {
    margin: 0;
  }

  body {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    background: url(/images/bg.png);
  }

  p{
    padding: 0px;
    margin: 0;
  }

  #header{
    background-color: #0e284f;
    height: 7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h1, h2,h3{
    margin: 0;
    font-weight: 500;
    font-size: 3vw;
    color: #f5ce58;
    text-shadow: 0 0 .24vh rgba(255, 255, 255, 0.9);
  }

  
  #username{
    color: #f5ce58;
    font-size: 1.8vw;

  }
  #login{
    font-weight: normal;
    font-size: 1.2vw;
    color:#E4EBF5;
  }
  #user-block{
    display: flex;
    position: relative;
    float: right;
    height: fit-content;
    padding: 1vh;
    margin-right: 2vh;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 0.6vh;
    box-shadow: inset 0 0.4vh 3px 3px rgb(3 2 2 / 15%);
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
  }


  #columnLogo {
    float: left;
  }
  
  #sluLogo {
    margin-left: 1vh;
    height: 5vw;
    padding: .4vw;
    float: right;
  }
  
  .row {
    background: url(/images/header.png) repeat-x left bottom;
    background-size: 2vw;
    min-height: fit-content;
  }

  .blueBlock {
    background-color: #1973c2;
    display: flex;
    align-items: center;
    justify-content: flex-start;

  }

  
  
  ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding-inline-start: .4vw;
  }
  
  li {
    vertical-align: middle;
    float: left;
    padding: .5vw;
  }
  
  li a {
    display: block;
    color: white;
    font-size: .9vw;
    text-align: center;
    text-decoration: none;
  }
  
  #openForm {
    display: block;
    color: white;
    font-size: .9vw;
    text-align: center;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #8992a5;
  }
  
  #upcoming-events {
    display: inline-block;
    margin-left: 2vw;
  }
  
  #learnMoreBlock h1{
    background-color: #073066;
    color: #fff;
    padding: 1vw;
    font-size: .8vw;
    border-radius: .5vw;
  }

  #team{
    display: flex;
  }
  
  #team img{
    height: 50px;
  }
  #upcoming-text {
    color: #073066;
  }
  
  #events-text {
    display: inline-block;
    color: #f6c500;
  }
  
  .grid {
    display: grid;
    grid-template-columns: auto auto auto auto; 
    align-items: center;
    justify-items: center;
    margin-right: 5vw;
    margin-left: 5vw;
  }
  
  
  .grid-item {
    background-color: #E4EBF5;
    font-size: 1vw;
    text-align: center;
    border-radius: .9vw;
    box-shadow: 1px 1px 5px 1px #888; 
    padding: 1vw;
    width: 15vw;
    height: 27vw;
    margin-top: 1vw;
    margin-bottom: .5vw;
    opacity: 1;
  }
  
  .grid-item:hover {
    opacity: .8;
    transform: translateY(-5px);
  }
  
  
  .grid-item h1{
    font-size: 1.3vw;
    color: #073066;
    margin-bottom: .5vw;
  }
  
  
  .grid img{ 
    width: 9vw;
    height: 10vw;
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: #f6c500;
    font-weight: bolder;
  }

  #login-button {
    background-color: #14264C;
    width: 10vw;
    margin: .3vw;
    padding: .3vw;
    border-radius: .5vw;
    color: #fff;
    font-size: 1vw;
  }
  


  /* ------------------------------------------------------ */
  #eventLHeader{
    color: white;
    background: url(/images/headerbg.png) repeat-x ;
    background-size: 11vw;
    background-color: #0e284f;
    border-radius: 7px;
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #event-head{
    display: flex;
    align-items: center;
  }

  #eventLHeader > div:nth-child(2) > p{
    float: right; 
    font-size: 1.3vw ;
    margin-right: 2vh;
    margin-bottom: 2vh;
  }

  #date{
    height: inherit;
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  #eventLHeader img{
    margin-left: .9vw;
    height: 6vw;
  }
  
  #events {
    width: 60%;
    min-width:min-content;
    display: block;
    margin: auto;
    margin-top: 1vh;
  }

  table{
    width: 98%;
    border-spacing: 0px;
    border: 1px solid #bcbcbc;
    margin: 0 2px;
    background-color: white;
  }

  #event-table{
    width: 98%;
    border-spacing: 0px;
    border: 1px solid #bcbcbc;
    margin: 0 2px;
    background-color: white;
  }

  th{
    border-left: .1vh solid rgba(120, 120, 120, 0.496);
    border-bottom: .1vh solid rgba(120, 120, 120, 0.496);
    background-color: rgba(207, 207, 207, 0.391);
  }

  td{
    border-left: .1vh dotted rgba(120, 120, 120, 0.496);
  }

  #event-table th{
    height: 4vh;
    width: 20vw;
    max-height: initial;
    padding: 1.5vw 3vw;
    font-size: 1.6vw;
    overflow: hidden;
  }

  #event-table td{
    text-align: center;
    padding: .8vh 1vh;
    font-size: 1.4vw;
    height: inherit;
    width: inherit;
    overflow: hidden  ;
  }

  tr:nth-child(even) td {
    background-color: rgba(207, 207, 207, 0.391);
  }

  #event-table > tbody > tr > td:nth-child(1){
    border-left: none;
  }


  #buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }


  .event-details{
    margin: 0;
  }

  #event-panel {
    display: grid;
    position: relative;
    border: 0.2vh solid #bcbcbc;
    grid-auto-rows: min-content;
    margin: 0 10vw;
    background-color: white;
}
  #event-panel-container {
    margin: auto;
    margin-top: 1vh;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.e-containers{
  margin: 1vh;
}
#e-header-container{
  display: flex;
  grid-column: 1 / span 2;
  background-color: #0e284f;
  margin: 0px;
  background-image: url(/images/headerbg.png) ;
  background-size: 4.7vw;
  justify-content: space-between;
  border-radius: 4px;
}
#date{
  color: white;
}

#e-details-container p{
  color: black;
}

#s-details-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 4px;
  margin-top: 0;
  padding: 5px;
  border: 0.2vh solid #bcbcbc;
  background-color: white;
}

span{
  color: darkslategrey;
}

#sched-panel{
  position: relative;
  margin: 0 10vw;
  margin-top: 1vh;
}

#sched-panel div{
  border-bottom:1px dotted grey;
}

#sched-panel label{
  font-weight: 550;
}
#e-header-container img{
  margin-left: 0.9vw;
  height: 6vw;
}

#date > p{
  float: right;
  font-size: 1.3vw;
  margin-right: 2vh;
  margin-top: .7vh;
}
.event-details-field{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
}

#Event_Panel_Content{
  position: relative;
  display: flex;
}

#e-header-container h1{
  margin: 0;
}

#event-header button{
  background-color: #e0a3a3;
}

#poster-container {
  height: fit-content;
  justify-self: center;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
}

#poster{
  max-height: inherit;
  border-color: goldenrod;
  border-style: double;
  border-right-width: 1vh;
  border-bottom-width: 1vh;
  max-height: 250px;
  width: auto;
}


#event-buttons{
  height: fit-content;
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#e-details-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px dotted grey;
}

#e-details{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#submit-button{
  margin-left: auto;
}

#e-buttons{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  ;
}

#qrr{
  height: 100px;
  border-style: none;
}

#e-d-container{
  grid-column: 1 / span 2;
}

#e-d-container label{
  font-weight: bold;
}

#e-create-container{
  display: block;
}


#event-panel label,#event-panel input {
  color: #000;
  border-bottom: .1vw  dotted black;  
  font-size: 80%;
}

#event-panel label#event-id {
  border-style: none;
  border-color: #F4ECE1;
}

button{
  min-width: 5vw;
  margin: 1vh;
  border-radius: .3vh;
  font-size: 1.4vw;
  border-width: .1vh;
}

#Schedule_Content , #User_Count_Content{
  width: fit-content;
}

#sched-head{
  display: flex;
  align-items: center;
  background-color: #0e284f;
  margin: 0px;
  background-image: url(/images/headerbg.png);
  background-size: 5.4vw;
  border-radius: .5vh;
}

#sched-head > h3{
  font-size: 2vw;
}

#sched-head img{
  margin-left: 0.9vw;
  height: 4vw;
}

#Schedule_Table_Content > tbody > tr> td{
  color: black;
  text-align: center;
}

#Schedule_Table_Content td,#User_Count_Table td{
  font-size:x-small;
  padding:4px
}

#Back-button{
  float: left;
}



#add-sched{
  float: right;
}

div#s-buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
  float: right;
  border-bottom-style: none;
}

#e-header-container > #date > p{
  font-size: 10px;
}

#Schedule_Content th, #User_Count_Content th{
  background-color: #E4EBF5;
  color:black;
  padding:.4vh;
  height: 3vh;
  width: 10vw;
  font-size: 70%;
}

#Schedule_Panel {
  height: fit-content;
  width: 80%;
  margin: auto;
  margin-top: 1vh;
  display: flex ;
  flex-direction: column;
}

#Schedule_Panel h2{
  margin: 0;
}


#Create_Event{
  border-spacing: 0px;
  margin: 0 2px;
  padding-left:2vw  ;
  height: fit-content;
  object-fit: contain;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#Create_Event button{
  height: inherit;
}
#event-img{
  height: 4vw;
}

#sched-details-container{
  padding: 4px;
  margin: 2px;
  margin-top: 0px;
  display: flex;
  justify-items: center;
  flex-direction: column;
  background-color: white;
  border: .2vh solid black;
}

.schedule-details{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  margin-right: 10px;
  color: black;
}

#Schedule_Panel button{
  float: right;
}

.sched_head{ 
  display: flex;
  background-color: #0e284f;
  margin: 0px;
  padding: 4px;
  background-image: url(/images/headerbg.png) ;
  background-size: 10.7vh; 
  border-radius: 7px;
}

#s-buttons

#Schedule_Container > h1{
  color:black ;
  font-weight: bold;
  font-size: 120%
}

#User_Count_Container > h1{
  color:black ;
  font-weight: bold;
  font-size: 120%
}

#a-panel{
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#attendance-panel{
  width:fit-content ;
  background-color: white;
  border: 0.1vh solid rgb(163, 163, 163);
}

#a-header{
  width: 600px;
  display: flex;
  background-color: #0e284f;
  margin: 0px;
  justify-content: space-between;
  border-radius: 4px;
  background-image: url(/images/headerbg.png) ;
  background-size: 4.8vw; 
}

#event-head > img{
  height: 7vh;
}

#event-name-search{
  font-size: 1vw;
  padding: 0;
  height: 3vh;
  width: 14vw;
}

#event-head > h1{
  font-size: 200%;
}

#date > p{
  font-size: 8px;
}

#a-details{
  width:inherit ;
}

.popup{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100; /* Place popup above other elements */  
}

#popupEvent{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100; /* Place popup above other elements */
}

.popup-head{
  width: 600px;
  display: flex;
  background-color: #0e284f;
  margin: 0px;
  justify-content: space-between;
  border-radius: 4px;
  background-image: url(/images/headerbg.png) ;
  background-size: 4.8vw; 
}

body > div.popup > div.popup-head > h3{
  margin-left: 5px;
}

.popup-body{
  display: flex;
  background-color: white;
  border: 0.1vh solid rgb(163, 163, 163);
  height: 100px;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 5px;
}
body > div.popup > div.popup-body > form > div{
  float: right;
}