    
    html {
      box-sizing: border-box;
    }
    
    *, *:before, *:after {
      box-sizing: inherit;
    }
    
    .column {
      float: left;
      width: 33.3%;
      margin-bottom: 1vw;
      padding: 2vw;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      margin: 2vw;
      width: 20vw;
      height: 25vw;
    }
  
    .image-container {
      width: 20vw;
      height: 15vw;
    }
  
    .image-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .container {
      padding: 0 16px;
    }
    
    .container::after, .row::after {
      content: "";
      clear: both;
      display: table;
    }
    
    .title {
      color: grey;
    }
    
    .button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
    }
    
    
  