header {
  margin: 0;
}
body {
  font-family: 'Playfair Display', serif;
}
#columnText {
  float: left;
  width: 70%;
  font-size: 1.5vw;
}

#columnLogo {
  float: left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#sluLogo {
  height: 10vw;
  width: 10vw;
  padding-top: .5%;
  padding-left: .5%;
}

.row {
  color: #073066;
}

.row h1{
  margin-top: 5%;
  font-size: 125%;
  letter-spacing: .7vw;
}

.row h3 {
  font-size: 75%;
}

.blueBlock {
  background-color: #073066;
  margin: 0;
  width: 100%;
  height: 20%;
  background-size: cover;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  vertical-align: middle;
  float: left;
  padding: .5vw;
}

li a {
  display: block;
  color: white;
  font-size: .9vw;
  text-align: center;
  text-decoration: none;
}


li a:hover {
  background-color: #8992a5;
}


a {
  text-decoration: none;
  color: #f6c500;
  font-weight: bolder;
}

#events-text {
  display: inline-block;
  color: #f6c500;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto; 
  align-items: center;
  justify-items: center;
  margin-right: 5vw;
  margin-left: 5vw;
}


.grid-item {
  background-color: #E4EBF5;
  font-size: 1vw;
  text-align: center;
  border-radius: .9vw;
  box-shadow: 1px 1px 5px 1px #888; 
  padding: 1vw;
  width: 15vw;
  height: 24vw;
  margin-top: 1vw;
  margin-bottom: .5vw;
  opacity: 1;
}

.grid-item:hover {
  opacity: .8;
  transform: translateY(-.5vw);
}


.grid-item h1{
  font-size: 1.3vw;
  color: #073066;
  margin-bottom: .5vw;
}

.grid-item button {
  color: #f6c500;
  font-weight: bolder;
  padding: 0;
  border: none;
  background: none;
  font-size: 1.2vw;
}

.grid-item button:hover{
  text-decoration: underline;
  border-bottom: 2px solid #073066;;
}

.grid img{ 
  width: 9vw;
  height: 10vw;
  text-align: center;
}

#logout{
  margin-left: 100%;
  position: relative;
}

.form-template {
  width: 45vw;
  height: 35vw;
  margin: auto;
  /* display: flex; */
  /* position: fixed;
  top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* border: 1px solid #000; */
  /* z-index: 9; */
  
}


.form-container {
  margin:auto;
  /* position: fixed;
  top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  opacity: 0.9;
  width: 25vw;
  height: 27vw;
  /* margin: 0 auto; */
  background-color: #E4EBF5;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  background-image: url('../images/sluBG.jpg');
  background-size: cover;
  justify-content: center;
}


.form-template img {
  padding: 7%;
  display: flex;
  justify-content: center;
  width: 12vw;
  height: 12vw;
  margin: 0 auto;
}

.form-template input {
  display: flex;
  justify-content: center;
  border-radius: .5vw;
  background-color: #F4ECE1;
  margin: 0 auto;
  font-size: 1vw;
  color: #000;
  margin-bottom: 2%;
  padding: 1%;
  width: 16vw;
}

#type {
  display: flex;
  justify-content: center;
  border-radius: .5vw;
  background-color: #F4ECE1;
  margin: 0 auto;
  font-size: 1vw;
  color: #000;
  margin-bottom: 2%;
  padding: 1%;
  width: 16vw;
}

#form-button {
  background-color: #14264C;
  width: 10vw;
  margin: .3vw;
  padding: .3vw;
  border-radius: .5vw;
  color: #fff;
  font-size: 1vw;
}


.button-container {
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  display: none;
}

.modal #event-details-container {
  /* visibility: hidden; */
  text-align: center;
  background: #fff;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8;
  font-size: 1vw;
  width: 40%;
  height: 100%;
  overflow-y: auto;
  padding: 5%;
}

.title,
#date,
#fee,
#organization,
#status,
#date,
.modal-body {
  text-align: center;
  margin: 10px 0;
}

.title {
  font-size: 24px;
  color: #333;
}

#date,
#fee,
#organization,
#status {
  font-size: 18px;
  color: #555;
}

.modal-body {
font-size: 20px;
color: #444;
}




#sched {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#sched_desc {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}


#venue,
#date,
#sched_desc,
#status {
  margin-bottom: 8px;
  font-size: 16px;
}

#openForm {
  display: block;
  color: white;
  font-size: .9vw;
  text-align: center;
  text-decoration: none;
}

#event-details-container span {
  font-size: 3.5vw;
  font-weight: 600;
  display: inline-block;
  transform: rotate(45deg);
  position: absolute;
  top: 2vw;
  right: 2vw;
  transform-origin: top right;
  color: #f6c500;
}



*, *::after, *::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  /* z-index: 10; */
  z-index: 6;
  background-color: white;
  width: 90%;
  height: 90%;
  max-width: 80%;
  background-image: url('images/sluBG.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);

}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.form-btn{
  padding: 10px;
}

#search-event{
  padding: 0.2%;
  margin-left: 7%;
}

#sched {
  margin: auto;
  font-size: 24px;
  color: #333;
}


#schedules{
display: flex;
}


.text {
display: block;
width: 13em;
overflow: hidden;
text-overflow: ellipsis;
max-height: 5.0em;
line-height: 1.0em;
}

.labels{
  padding-left: 7%;
  font-size: small;
  color: #8992a5;
}

#red{
  color: red;
}

footer{
  background-color: #073066;
  color: white;
  padding: 1em;
  grid-column: 1 / -1;

  margin-top: auto;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  /* Header */
  #columnLogo {
    width: 100%;
    text-align: center ;
  }
  
  #columnText {
    width: 100%;
    font-size: 4%;
    text-align: center;
  }


  
  
  #sluLogo {
    height: 40vw;
    width: 40vw;
    text-align: center;
  }
  
  .blueBlock {
    overflow: hidden;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown {
    display: flex;
    align-items: end;
    justify-content: end;
    text-align: left;
  }
  
  .dropdown a {
    font-size: 4vw;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 4vw 4vw;
    text-decoration: none;
    display: block;
    text-align: left
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-icon {
    width: 10vw;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
  }
  
  #columnText h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8vw;
  }
  
  #columnText h3 {
    font-size: 5vw;
  }
  
  ul li {
    width: 100%;
    padding: 2vw;
    font-size: 50%;
  }
  
      .column {
        display: flex;
        float: none;
        width: 10vw;
        margin: 15vw;
        margin-left: 45vw;
        padding: 2vw;
        text-align: center;
        align-items: center;
        justify-content: center;
      }
  
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 2vw;
        width: 50vw;
        height: 50vw;
      }
  
      .image-container {
        width: 50vw;
        height: 50vw;
      }

  
    h2 {
      font-size: 5vw;
    }
  
    p {
      font-size: 3vw;
    }
    
    }

#qr{
  margin:auto;
}