header {
    margin: 0;
  }
  body {
    font-family: 'Playfair Display', serif;
  }
  #columnText {
    float: left;
    width: 70%;
    font-size: 1.5vw;
  }
  
  #columnLogo {
    float: left;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  #sluLogo {
    height: 10vw;
    width: 10vw;
    padding-top: .5%;
    padding-left: .5%;
  }
  
  .row {
    color: #073066;
  }
  
  .row h1{
    margin-top: 5%;
    font-size: 125%;
    letter-spacing: .7vw;
  }
  
  .row h3 {
    font-size: 75%;
  }
  
  .blueBlock {
    background-color: #073066;
    margin: 0;
    width: 100%;
    height: 20%;
    background-size: cover;
  }
  
  ul {
    list-style-type: none;
    overflow: hidden;
  }
  
  li {
    vertical-align: middle;
    float: left;
    padding: .5vw;
  }
  
  li a {
    display: block;
    color: white;
    font-size: .9vw;
    text-align: center;
    text-decoration: none;
  }

  #table-div {
    margin: auto;
    width: 90%;
  }

  #openForm {
    display: block;
    color: white;
    font-size: .9vw;
    text-align: center;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #8992a5;
  }



.eventsTable {
    text-align: center;
    align-items: center;
    display: table-header-group;
}

th, td {
    height: 5vw;
    width: 100vw;
    font-size: 1.1vw;
}

td button{
    border: none;
    background: none;
    text-decoration: underline;
    font-size: 1.1vw;
}

.learn-more:hover {
    transform: translateY(-.5vw);
}

.status:hover {
    transform: translateY(-.5vw);
}

tr {
    border: 5px solid #000;
    padding-bottom: 2vw;
  }


tr:nth-child(even) {
    background-color: #cdd5e0;
  }

.table-heads {
    background-color: #073066;
    color: #fff;
    font-weight: bolder;
}

#event-details {
    visibility: hidden; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    background-image: url('images/sluBG.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    height: 90%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  #event-details-container {
    visibility: hidden;
    text-align: center;
    background: #fff;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8;
    font-size: 1vw;
    width: 60%;
    height: 100%;
    overflow-y: auto;
    padding: 5%;
  }
  
  #event-details-container::-webkit-scrollbar {
    display: none;
  }
  
  #event-details-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  #event-details-container h1 {
    color: #073066;
    font-size: 1.7vw;
  }
  
  
  #event-details-container h2 {
    color: #f6c500;
    font-size: 1.3vw;
  }
  
  #event-details-container h3 {
    color: #000;
    font-size: 1.1vw;
  }
  
  #event-details-container p {
    color: #000;
    font-size: 1.1vw;
  }
  
  #event-details-container img {
    width: 6vw;
    height: 7vw;
    text-align: center;
  }
  
  #whiteBG {
    background: #fff;
    z-index: 7;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 60%;
  }

  #event-details-container span {
    font-size: 3.5vw;
    font-weight: 600;
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
    top: 2vw;
    right: 2vw;
    transform-origin: top right;
    color: #f6c500;
  }

#unregister-header {
    visibility: hidden;
    background-color: #8397b2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    width: 30%;
    height: 25%;
    border-radius: 1vw;
    box-shadow: 1px 5px 5px 1px #888; 
}

#unregister-header h1 {
    font-size: 1.2vw;
    padding-left: 1vw;
}

#unregister-confirmation {
    visibility: hidden;
    background: #fff;
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 90%;
    height: 55%;
    padding: 5%;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    font-size: 1.3vw;
}

#unregister-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1vw;
    text-align: right;
    z-index: 7;
}

#unregister-buttons button {
    padding: .7vw;
    margin-right: .5vw;
    border-radius: 1vw;
    border: #000 5px;
    font-size: 1vw;
}

button:active {
    transform: translateY(4px)
}

#cancel-button {
    background-color: #8397b2;
}

#unregister-button {
    background-color: #cccccc;
}

#unregister-button:hover {
    transition-duration: 0.4s;
    background-color: #faa0a0;
}

#unregister-header span {
    font-size: 3.5vw;
    font-weight: 600;
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
    top: 2vw;
    right: 2vw;
    transform-origin: top right;
    color: #000;
  }

