<!DOCTYPE html>
<html lang="en">

<!-- Author: Gerwin Dogui-is -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="/AboutUs.css">
</head>

<header>
  <div class="row">
      <div id="columnLogo">
        <img id="sluLogo" src="/images/SLU Logo.png" alt="SLU logo">
      </div>
      <div id="columnText">
        <h1>SAINT LOUIS UNIVERSITY EVENT PORTAL</h1>
        <h3>Baguio City, Philippines</h3>
      </div>
    </row>
  </div>
  <div class="blueBlock">
    <ul>
      <li class="dropdown">
        <div class="dropdown-icon"></div>
        <div class="dropdown-icon"></div>
        <div class="dropdown-icon"></div>
        <div class="dropdown-content">
          <li><a href="/admin/event">Event Manager</a></li>
          <li><a href="/admin/aboutus">About us</a></li>
        </div>
      </li>
    </ul>
  </div>    
</header>

<body>
  <div id="team">
    <h2>Our Team</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <div class="image-container" id="josh-jonathan">
          </div>
          <div class="container">
            <h2>Jonathan Asuncion</h2>
            <p>2220158@slu.edu.ph</p>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="column">
          <div class="card">
            <div class="image-container">
            <img src="\images\team pictures\Val.jpg" alt="Valjunyor" >
            </div>
            <div class="container">
              <h2>Valjunyor Alfiler</h2>
              <p>2223905@slu.edu.ph</p>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="column">
            <div class="card">
              <div class="image-container">
              <img src="\images\team pictures\Aivein.jpg" alt="Aivein">
              </div>
              <div class="container">
                <h2>Aivein Casibang</h2>
                <p>2220909@slu.edu.ph</p>
              </div>
            </div>
          </div>

          <div class="row">
              <div class="column">
                <div class="card">
                  <div class="image-container">
                  <img src="\images\team pictures\Gerwin.jpg" alt="Gerwin">
                  </div>
                  <div class="container">
                    <h2>Gerwin Dogui-is</h2>
                    <p>2222719@slu.edu.ph</p>
                  </div>
                </div>
              </div>

              <div class="row">
                  <div class="column">
                    <div class="card">
                      <div class="image-container">
                      <img src="\images\team pictures\Destin.jpg" alt="Destin">
                      </div>
                      <div class="container">
                        <h2>Destin Dupiano</h2>
                        <p>2202529@slu.edu.ph</p>
                      </div>
                    </div>
                  </div>


                  <div class="row">
                      <div class="column">
                        <div class="card">
                          <div class="image-container">
                          <img src="\images\team pictures\Kim.png" alt="Mik">
                          </div>
                          <div class="container">
                            <h2>Mik Samson</h2>
                            <p>2222721@slu.edu.ph</p>
                          </div>
                        </div>
                      </div>



    </div>
  </div>
      
</body>

</html>