<!DOCTYPE html>
<html lang="en">
<!-- 
Authors
Samson, Mik Iris G.: Initial Code
Asuncion, Jonathan :Integrate FE & BE
 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js" integrity="sha512-qzgd5cYSZcosqpzpn7zF2ZId8f/8CHmFKZ8j7mU4OUXTNRd5g+ZHBPsgKEwoqxCtdQvExE5LprwwPAgoicguNg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Admin</title>
</head>

  <header>
    <div class="row" id = "header"> 
        <div id="columnLogo">
          <img id="sluLogo" src="/images/PORTALHEADER.png" alt="SLU logo">
        </div>
    </div>


    <div class="blueBlock">
      <ul>
        <li><a href="/admin/event">Event Manager</a></li>
        <li><a href="/admin/aboutus">About us</a></li>
      </ul>
    </div> 
  </header>

  <body>
      <div id = "events">
        <div id = "eventLHeader">
          <div id = "event-head">
            <img id="event-img" src="/images/event.png"  alt="">
            <h2 > Events List</h2>
          </div>
          <div id = "date">
            <div id="Create_Event" >
              <input type="text" id="event-name-search" placeholder="Search by Event/Organization" />
              <button type="button" onclick="location.href='/admin/createEvent'">Create Event</button>
            </div>
            <p><%= Date() %></p>
          </div>
        </div>
          <div class="event-panel">
            <div id="e-table">
              <table id = "event-table">
                <thead>
                  <tr>
                    <th scope="col">Event ID</th>
                    <th scope="col">Event Name</th>
                    <th scope="col">Organization</th>
                    <th scope="col">Event Date</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Status</th>
                    <th></th>
                  </tr>
                </thead>
                  
                <tbody>
                  <% events.forEach(event => { %>
                      <tr>
                          <td><%= event.eventid %></td>
                          <td id="event-name"><%= event.event_name %> </td>
                          <td id="organization"><%= event.organization %></td>
                          <td class="date" > <%= event.date %></td>
                          
                          <td class="date" ><%= event.date_created %></td>
                          <td><%= event.status %></td>
                          <td> 
                              <div id = "buttonContainer">
                                <button id="edit" class="event-buttons" onclick="location.href='/admin/event/<%= event.eventid %>'">Edit</button>
                              </div>
                          </td>
                      </tr>
                  <% }) %>
                </tbody>
  
              </table>
            </div>
            
          </div>
      </div>


      <script>
        window.onload = function () {
          console.log("loaded")
          const eventDateElements = document.querySelectorAll(".date");
          eventDateElements.forEach(element => {
            const dateString = element.innerText;
            const formattedDate = moment(dateString).format("dddd, MMMM Do YYYY h:mm a");
            element.innerText = formattedDate;
          });
          
          const eventCreatedElements = document.querySelectorAll("#event-created");
          eventCreatedElements.forEach(element => {
            const dateString = element.innerText; 
            const formattedDate = moment(dateString).format("YYYY-MM-DDTHH:mm:ss");
            element.innerText = formattedDate;
          });
        };

        $(document).ready(function(){
        $("#event-table").tablesorter({
          headers: {
            // Define the sortable and non-sortable columns
            0: { sorter: true }, // Event ID
            1: { sorter: true }, // Event Name
            2: { sorter: true }, // Organization
            3: { sorter: true, sortInitialOrder: "desc" }, // Event Date (descending order initially)
            4: { sorter: true, sortInitialOrder: "asc" }, // Date Created (ascending order initially)
            5: { sorter: true }, // Status
          }
        });
      });
      // search per key stroke
      $(document).ready(function() {
        $("#event-name-search").keyup(function() {
          const searchTerm = $(this).val().toLowerCase();
          filterEvents(searchTerm);
        });
      });

function filterEvents(searchTerm) {
  // Get all table rows
  const rows = $("#e-table tbody tr");

  // Filter rows based on event name
  rows.each(function() {
    const eventName = $(this).find("#event-name").text().toLowerCase();
    const organizationName = $(this).find("#organization").text().toLowerCase();

    const match = eventName.indexOf(searchTerm) >= 0 || organizationName.indexOf(searchTerm) >= 0;

    if (match) {
      $(this).show();
    } else {
      $(this).hide();
    }
  });
}
      </script>
  </body>
</html>