<!DOCTYPE html>
<html lang="en">
  <!-- 
Authors
Samson, Mik Iris G.: Initial Code
Asuncion, Jonathan :Integrate FE & BE
 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin.css">
    <title>Event Creation</title>
</head>
<body>
    <header>
        <div class="row" id = "header"> 
            <div id="columnLogo">
              <img id="sluLogo" src="/images/PORTALHEADER.png" alt="SLU logo">
            </div>

        </div>
    
    
        <div class="blueBlock">
          <ul>
            <li><a href="/admin/event">Event Manager</a></li>
            <li><a href="/admin/aboutus">About us</a></li>
          </ul>
        </div> 
    </header>
        <div id="event-panel-container">
          <div id="event-panel" >
            <div id="e-header-container">
              <div id="event-head">
                <img src="/images/event.png" alt="">
                <h1>Create Event</h1>
              </div>
              <div id="date">
                <p><%= Date() %></p>
              </div>
            </div>
      
            <div id="e-d-container" class="e-containers">
              <form id="e-create-container" action="/admin/event" method="POST" enctype="multipart/form-data">
                <div id="e-details" style="grid-column: 1;">
                  <label for="event-name-inp">Event Name: </label>
                  <input type="text" id="event-name-inp" name="event_name" required>
      
                  <label for="desc-inp">Description: </label>
                  <textarea name="description" id="desc-inp" cols="30" rows="10" required></textarea>
      
                  <label for="event-date">Event Date: </label>
                  <input type="date" id="event-date" name="date" required>
      
                  <label for="fee-inp">Fee: </label>
                  <input type="number" id="fee-inp" name="fee">
      
                  <label for="org-inp">Organization: </label>
                  <input type="text" id="org-inp" name="organization">
      
                  <label for="status-inp">Initial status of your event:</label>
                  <select id="status-inp" name="status" required>
                    <option value="coming soon">Coming Soon</option>
                    <option value="ongoing">Ongoing</option>
                  </select>

                                  
                  <label for="status-inp">Event Poster</label>
                  <input type="file" name="poster" id="event-poster">
                  <button type="submit" id="submit-button">Create Event</button>
            
                </div>

              </form>
            </div>
            <button type="button" id="backButton">Back</button>
          </div>
        </div>
    
</body>

<script>

    /**
     *  For security reasons apparently we cannot just replace a file within a file input field
     *  In response to this, the file input will just have to be replaces manually
    */
    function clearFileInput(inputId) {
        const input = document.getElementById(inputId);

        // This section creates a new input element
        const newInput = document.createElement('input');
        newInput.type = 'file';
        newInput.name = 'poster';
        newInput.id = inputId;

        // Practically replace the old file input field with the new one
        input.parentNode.replaceChild(newInput, input);
    }

    // Back button removes everything from the forms
    function goBack(){
        var elements = document.getElementsByTagName("input");
        for (var i = 0; i < elements.length; i++) {
            if (elements[i].type == "text" || elements[i].type == "number") {
                elements[i].value = "";
            }
        }
        document.getElementById('status-inp').value = '';
        clearFileInput('event-poster');


        location.href='/admin/event'
    }

    var backButton = document.getElementById('backButton').addEventListener("click", () => {
        goBack()
    });

</script>
</html>