<!DOCTYPE html>
<html lang="en">
<!-- 
Authors
Samson, Mik Iris G.: Initial Code
Asuncion, Jonathan :Integrate FE & BE
 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin.css">
</head>

<header>
    <div class="row" id = "header"> 
        <div id="columnLogo">
          <img id="sluLogo" src="/images/PORTALHEADER.png" alt="SLU logo">
        </div>
    </div>


    <div class="blueBlock">
      <ul>
        <li><a href="/admin/event">Event Manager</a></li>
        <li><a href="/admin/aboutus">About us</a></li>
      </ul>
    </div> 
</header>

<body>
    


    <div id="event-panel-container">
      <div id="event-panel">
        <div id="e-header-container">
          <div id="event-head">
            <img src="/images/calendar.png" alt="">
            <h1>Create Schedule</h1>
          </div>
          <div id="date">
            <p><%= Date() %></p>
          </div>
        </div>
  
        <div id="e-d-container" class="e-containers">
          <form action="/admin/event/<%= event.eventid %>/createSchedule" method="POST">
            <div id="e-details" style="grid-column: 1;">
              <label for="desc-inp">Schedule Description: </label>
              <textarea name="description" id="desc-inp" cols="30" rows="5" required></textarea>
  
              <label for="sched-venue-inp">Venue: </label>
              <input type="text" id="sched-venue-inp" name="venue" required>
  
              <label for="event-date">Event Date: </label>
              <input type="datetime-local" id="event-date" name="date" required>
  
              <label for="status-inp">Initial status of your event:</label>
              <select id="status-inp" name="status" required>
                <option value="coming soon">Pending</option>
                <option value="ongoing">In Progress</option>
              </select>
            </div>
  
            <div id="e-buttons" class="e-containers">
              <button type="submit" id="submit-button">Create Schedule</button>
            </div>
          </form>
          
          <button type="button" id="backButton">Back</button>
        </div>
      </div>
    </div>
  </body>
  

<script>

    // Back button removes everything from the forms
    function goBack(){
        var elements = document.getElementsByTagName("input");
        for (var i = 0; i < elements.length; i++) {
            if (elements[i].type == "text" || elements[i].type == "number") {
                elements[i].value = "";
            }
        }
        document.getElementById('status-inp').value = '';

        location.href='/admin/event/<%= event.eventid %>'
    }

    var backButton = document.getElementById('backButton').addEventListener("click", () => {
        goBack()
    });

</script>

</html>