<!DOCTYPE html>
<html lang="en">
<!-- 
Authors
Samson, Mik Iris G.: Initial Code
Asuncion, Jonathan :Integrate FE & BE
 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Utilizes CSS in public by default-->
    <link rel="stylesheet" href="/admin.css">
    <title>Event</title>
</head>

<header>
    <div class="row" id = "header">
        <div id="columnLogo">
          <img id="sluLogo" src="/images/PORTALHEADER.png" alt="SLU logo">
        </div>

    </div>
  
  
    <div class="blueBlock">
      <ul>
        <!-- STILL NO HTML LINK TO OTHER PAGES -->
        <li><a href="/admin/event">Event Manager</a></li>
        <li><a href="/admin/aboutus">About us</a></li>
      </ul>
    </div> 
  </header>
<body>
    <div id="event-panel-container">
        <div id="event-panel" class="popup">
            <div id="e-header-container" class="popup">
                <div id="event-head">
                    <img src="/images/calendar.png" alt="">
                    <h1>Edit Schedule</h1>
                </div>
                <div id="date">
                    <p><%= Date() %></p>
                </div>
            </div>  
    
            <div id="e-d-container" class="e-containers">
                <form action="/admin/event/<%= event.eventid %>/schedule/<%= schedule.scheduleID %>/editSchedule" method="POST">
                    <div id="e-details" style="grid-column: 1;">
                        <div id="Schedule_Name" class="schedule-details">
                            <label for="Schedule_Name">Schedule ID:</label>
                            <p><%= schedule.scheduleID %></p>
                          </div>
                        <label for="desc-inp">Schedule Description: </label>
                        <textarea name="description" id="desc-inp" cols="30" rows="10" required><%= schedule.description %></textarea>
    
                        <label for="sched-venue-inp">Venue: </label>
                        <input type="text" id="sched-venue-inp" name="venue" value="<%= schedule.venue %>" required>
    
                        <label for="event-date">Schedule Event Date: <span><%= schedule.date %></span> </label>
                        <input type="datetime-local" id="event-date" name="date">
    
                        <label for="status-inp">Set Status of your event:</label>
                        <select id="status-inp" name="status">
                            <option value="Pending" <%= schedule.status === 'Pending' ? 'selected' : '' %>>Pending</option>
                            <option value="In Progress" <%= schedule.status === 'In Progress' ? 'selected' : '' %>>In Progress</option>
                            <option value="coming soon" <%= event.status === 'coming soon' ? 'selected' : '' %>>Coming Soon</option>
                            <option value="ongoing" <%= event.status === 'ongoing' ? 'selected' : '' %>>Ongoing</option>
                            <option value="postponed" <%= event.status === 'postponed' ? 'selected' : '' %>>Postponed</option>
                            <option value="canceled" <%= event.status === 'canceled' ? 'selected' : '' %>>Canceled</option>
                            <option value="finished" <%= event.status === 'finished' ? 'selected' : '' %>>Finished</option>
                        </select>
                    </div>
    
                    <div id="s-buttons" class="e-containers">
                        <button type="button" id="Back-button">Back</button>
                        <button type="submit" id="submit-button">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    
</body>

<script>

    // Back button removes everything from the forms
    function goBack(){
        var elements = document.getElementsByTagName("input");
        for (var i = 0; i < elements.length; i++) {
            if (elements[i].type == "text" || elements[i].type == "number") {
                elements[i].value = "";
            }
        }
        document.getElementById('status-inp').value = '';

        location.href="/admin/event/<%= event.eventid %>/schedule/<%= schedule.scheduleID %>";
    }

    var backButton = document.getElementById('Back-button').addEventListener("click", () => {
        goBack()
    });

</script>

</html>