<!DOCTYPE html>
<html lang="en">

<!-- 
Authors
Samson, Mik Iris G.: Initial Code
Asuncion, Jonathan :Integrate FE & BE
 -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Utilizes CSS in public by default-->
    <link rel="stylesheet" href="/admin.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js" integrity="sha512-qzgd5cYSZcosqpzpn7zF2ZId8f/8CHmFKZ8j7mU4OUXTNRd5g+ZHBPsgKEwoqxCtdQvExE5LprwwPAgoicguNg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <title>Event</title>
</head>
<body>
  <header>
    <div class="row" id = "header">
        <div id="columnLogo">
          <img id="sluLogo" src="/images/PORTALHEADER.png" alt="SLU logo">
        </div>
  
    </div>


    <div class="blueBlock">
      <ul>
        <!-- STILL NO HTML LINK TO OTHER PAGES -->
        <li><a href="/admin/event">Event Manager</a></li>
        <li><a href="/admin/aboutus">About us</a></li>
      </ul>
    </div> 
</header>
    <div id="event-panel-container">
        <div id="event-panel">
          <div id="e-header-container"> 
                <div id = "event-head">
                    <img src="/images/event.png"alt="">
                    <h1>Event Panel</h1>
                </div>
                <div id = "date">
                    <p><%= Date() %></p>
                </div>
          </div>

          <!-- placeholder will be the actual details event details -->
          <div id="e-d-container" class="e-containers">
            <form id="e-details-container" action="/admin/event/<%= event.eventid %>/editEvent" method="POST" enctype="multipart/form-data">
              <div id="e-details" style="grid-column: 1;">
                <label for=""> EventID:</label>
                <p><%= event.eventid %></p>

                <label for="event-name-inp">Event Name: </label>
                <input type="text" id="event-name-inp" name="event_name" value="<%= event.event_name %>" required>
              
                <label for="event-date">Event Date: </label>
                <input type="date" class="date" name="date" required>
              
                <label for="fee-inp">Fee: </label>
                <input type="number" id="fee-inp" name="fee" value="<%= event.fee %>" >
              
                <label for="org-inp">Organization: </label>
                <input type="text" id="org-inp" name="organization" value="<%= event.organization %>" required>
              
                <label for="status-inp">Event Status:</label>
                <select id="status-inp" name="status" required>
                  <option value="coming soon" <%= event.status === 'coming soon' ? 'selected' : '' %>>Coming Soon</option>
                  <option value="ongoing" <%= event.status === 'ongoing' ? 'selected' : '' %>>Ongoing</option>
                  <option value="postponed" <%= event.status === 'postponed' ? 'selected' : '' %>>Postponed</option>
                  <option value="canceled" <%= event.status === 'canceled' ? 'selected' : '' %>>Canceled</option>
                  <option value="finished" <%= event.status === 'finished' ? 'selected' : '' %>>Finished</option>
                </select>
              
                <label for="desc-inp">Description: </label>
                <textarea name="description" id="desc-inp" cols="30" rows="8" required><%= event.description %></textarea>
              </div>

              <div id = "poster-container" class = "e-containers" style="grid-row: 1; grid-column: 2;">
                <% if (event.poster) { %>
                  <img src="data:image/jpeg;base64, <%= event.poster %>" id="poster">
                <% } else { %>
                  <p>No poster</p>
                <% } %>
                <div id="e-buttons">
                  <label for="status-inp">Replacement Poster</label>
                  <input type="file" name="poster" id="event-poster">
                  <button type="submit" id="submit-button">Save Changes</button>
                </div>
              </div>

            </form>
          </div>
          
          


            <div id = "Schedule_Container" class = "e-containers">
                <div id="sched-head">
                    <img src="/images/checkbox.png"alt="">
                    <h3>Event Schedules</h3>
                </div>
                <div id="Schedule_Content">
                    <table id="Schedule_Table_Content">
                        <thead>
                            <tr>
                                <th>Schedule ID</th>
                                <th>Venue</th>
                                <th>DateTime</th>
                                <th>Status</th>
                                <th> </th>
                            </tr>
                        </thead>
                      <tbody>
                        <% schedules.forEach(schedule => { %>
                          <tr>
                            <td><%= schedule.scheduleID %></td>
                            <td><%= schedule.venue %></td>
                            <td class="date"><%= schedule.date %></td>
                            <td><%= schedule.status %></td>
                            <td>
                                <div>
                                  <button id="Edit_Schedule" onclick="location.href='/admin/event/<%= event.eventid %>/schedule/<%= schedule.scheduleID %>'">View</button>
                                  </form>
                                </div>
                            </td>
                          </tr>
                        <% }) %>
                      </tbody>
    
                      </table>
                      <button id="add-sched" type="button" onclick="location.href='/admin/event/<%= event.eventid %>/createSchedule'">Add Schedule</button>
                  </div>    
            </div>

            <div id="User_Count_Container" class = "e-containers">
              <div id="sched-head">
                <img src="/images/peeps.png"alt="">
                <h3>Registered Users</h3>
            </div>
              <div id ="User_Count_Content">
                <table id="User_Count_Table">
                  <thead>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Schedule ID</th>
                    <th>Date Registered</th>
                    <th>Attendance</th> 
                    <th></th>
                  </thead>
                <tbody>
                  <% for (let i = 0; i < regUsers.length; i++) { %>
                    <tr>
                      <td><%= regUsers[i].userID %></td>
                      <td><%= userDetails[i].lastname %>, <%= userDetails[i].firstname %></td>
                      <td><%= (attendanceDetails[i].scheduleID === 1000) ? 
                      "no schedule" : attendanceDetails[i].scheduleID  %></td>
                      <td class="date"><%= regUsers[i].event_registered %></td>
                      <td>
                        <%= (!attendanceDetails[i].time_in) ?
                          "hasn't attended" : attendanceDetails[i].time_in;
                        %>
                      </td>
                      <td>
                        <button onclick="openPopup('<%= event.eventid %>','<%= regUsers[i].userID %>', '<%= userDetails[i].lastname %>','<%= userDetails[i].firstname %>')">Remove User</button>
                      </td>
                    </tr>
                  <% } %>
                </tbody>
                </table>
              </div>
            </div>  
          

          <div id="event-buttons" class = "e-containers">
            <button id="Back-button" type="button" onclick="location.href='/admin/event'">Back</button>
            <button onclick="eventDelete('<%= event.eventid %>')">Delete Schedule</button>            
          </div>
        </div>
      </div>

      <div class="popup" style="display: none;" class="e-containers"> 
        <div class="popup-head">
          <h3>Confirm User Removal</h3>
        </div>
        <div class="popup-body">
          <p>Are you sure you want to remove <strong id="lname"></strong> from the event registration list?</p>
          <form method="post" action="/admin/event/<%= event.eventid %>/registeredUser/delete">
            <input type="hidden" name="eventID" value="${popup.dataset.eventID}">
            <input type="hidden" name="userID" value="${popup.dataset.userID}">
            <div>
              <button type="submit">Confirm User Removal</button>
              <button type="reset" onclick="closePopup()">Cancel</button>  
            </div>
          </form>
        </div>
      </div>

      <div id="popupEvent" style="display: none;" class="e-containers"> 
        <div class="popup-head">
          <h3>Confirm Event Deletion</h3>
        </div>
        <div class="popup-body">
          <p>Are you sure you want to remove this event from the event list?</p>
          <form action="/admin/event/<%= event.eventid %>/delete" method="POST">
            <input type="hidden" name="eventID" value="${popup.dataset.eventID}">
            <div>
              <button type="submit"> Delete Event </button>
              <button type="reset" onclick="closeEdel()">Cancel</button>  
            </div>
          </form>
        </div>
      </div>

    <script>
          const eventDateElements = document.querySelectorAll(".date");
          eventDateElements.forEach(element => {
            const dateString = element.innerText;
            const formattedDate = moment(dateString).format("dddd, MMMM Do YYYY h:mm a");
            element.innerText = formattedDate;
          });

        $(document).ready(function(){
          $("#Schedule_Table_Content").tablesorter({
           headers: {
            0: { sorter: true, sortInitialOrder: "asc" }, // schedid (int, ascending)
            1: { sorter: true }, // venue (string)
            2: { sorter: true }, // date (date)
            3: { sorter: true }, // status (string)
          }
        });
      });

        $(document).ready(function() {
          $("#User_Count_Table").tablesorter({
            headers: {
              0: { sorter: true, sortInitialOrder: "asc" }, // userid (integer, ascending)
              1: { sorter: true }, // Name (string)
              2: { sorter: true }, // organization (string)
              3: { sorter: true, dateFormat: "yyyy-mm-dd" }, // dateregistered (datetime)
              4: { sorter: true, }, // attendance (datetime)
            },
          });
        });

        function openPopup(eventID, userID, lastname, firstname){
          const popup = document.querySelector(".popup");
  popup.style.display = "block"; // Show the popup

  // Optionally store eventID and userID for further use in the submit event handler
  popup.dataset.eventID = eventID;
  popup.dataset.userID = userID;
  popup.dataset.lastname = lastname;
  popup.dataset.firstname = firstname;

  const eventIDInput = document.querySelector(".popup form input[name='eventID']");
  eventIDInput.value = popup.dataset.eventID;

  const userIDInput = document.querySelector(".popup form input[name='userID']");
  userIDInput.value = popup.dataset.userID;

  document.querySelector("#lname").innerText = firstname +" "+lastname;
}
function closePopup() {
  const popup = document.querySelector(".popup");
  popup.style.display = "none"; // Hide the popup
}

function eventDelete(eventID, userID) {
  const popup = document.querySelector("#popupEvent");
  popup.style.display = "block"; // Show the popup

  popup.dataset.eventID = eventID;

  const eventIDInput = document.querySelector("#popupEvent form input[name='eventID']");
  eventIDInput.value = popup.dataset.eventID;
}

function closeEdel() {
  const popup = document.querySelector("#popupEvent");
  popup.style.display = "none"; // Hide the popup
}


    </script>
</body>
</html>