<!DOCTYPE html>
<!--
    Code Author of event404.ejs: Samson, Mik Iris G.
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Utilizes CSS in public by default-->
    <link rel="stylesheet" href="/style.css">
    <title>Event Not Found</title>
</head>
<body>
    <h1>Event Not Found</h1>
</body>
</html>