<!DOCTYPE html>
<html lang="en">
<!-- 
Authors
Asuncion, Jonathan
Co-Author: Samson, Mik Iris
 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Utilizes CSS in public by default-->
    <link rel="stylesheet" href="/admin.css">
    <title>Event</title>
    <script src="https://unpkg.com/html5-qrcode"></script>
    <!--<script src="../node_modules/html5-qrcode/html5-qrcode.min.js"></script>-->
    <style>
        main {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #reader {
            width: 600px;
        }
        #result {
            text-align: center;
            font-size: 1.5rem;
        }
    </style>
</head>

<body>
  <header>
    <div class="row" id = "header">
        <div id="columnLogo">
          <img id="sluLogo" src="/images/PORTALHEADER.png" alt="SLU logo">
        </div>
    </div>
    <div class="blueBlock">
      <ul>
        <!-- STILL NO HTML LINK TO OTHER PAGES -->
        <li><a href="/admin/event">Event Manager</a></li>
        <li><a href="/admin/aboutus">About us</a></li>
      </ul>
    </div> 
</header>

<body>

    <div id="a-panel">
        <div id="a-header" > 
            <div id = "event-head">
                <img src="/images/event.png"alt="">
                <h1>SCAN QR</h1>
            </div>
            <div id = "date">
                <p><%= Date() %></p>
            </div>
        </div>
        <div id="attendance-panel">
                <div id="reader"></div>
                <div id="result"></div>

            <button id="Back-button" type="button" onclick="location.href='/admin/event'">Back</button>    
        </div>
    </div>

    <div id="hiddenScheduleID" style="display: none;">
        <%= toScanSchedule %>
    </div>
    
</body>

<script>
    // Function to handle the scanned QR code
    function onScanSuccess(qrCodeMessage) {
        console.log(qrCodeMessage);
        const userID = parseInt(qrCodeMessage.substring(0, 3), 10);
        const eventID = parseInt(qrCodeMessage.substring(3, 7), 10);
        const scheduleID = parseInt(qrCodeMessage.substring(7), 10);

        const hiddenScheduleIDElement = document.getElementById("hiddenScheduleID");
        const savedScheduleID = parseInt(hiddenScheduleIDElement.textContent, 10);

        console.log("UserID: " + userID + ", eventID: " + eventID + ", schedID: " + scheduleID);

        // Redirect to the attendance route with the eventID and userID
        window.location.href = `/admin/scanQR/attendance?eventID=${eventID}&userID=${userID}&scheduleID=${scheduleID}&toScanSchedule=${savedScheduleID}`;
    }

    // Initialize the QR code scanner
    const html5QrcodeScanner = new Html5QrcodeScanner(
        'reader', { fps: 30, qrbox: 250 }, /* verbose= */ false);

    // Start scanning
    html5QrcodeScanner.render(onScanSuccess);

    // Back button removes everything from the forms
    function goBack(){
        location.href='/admin/event'
    }

    var backButton = document.getElementById('Back-button').addEventListener("click", () => {
        goBack()
    });

</script>

</html>