<!DOCTYPE html>
<html lang="en">
  <!-- 
Authors
Samson, Mik Iris G.: Initial Code
Asuncion, Jonathan :Integrate FE & BE
 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Utilizes CSS in public by default-->
    <link rel="stylesheet" href="/admin.css">
    <title>Schedule</title>
</head>

<header>
  <div class="row" id = "header">
      <div id="columnLogo">
        <img id="sluLogo" src="/images/PORTALHEADER.png" alt="SLU logo">
      </div>
    
  </div>


  <div class="blueBlock">
    <ul>
      <!-- STILL NO HTML LINK TO OTHER PAGES -->
      <li><a href="/admin/event">Event Manager</a></li>
      <li><a href="/admin/aboutus">About us</a></li>
    </ul>
  </div> 
</header>
<body>
  <div id="sched-panel">
    <div class="sched_head">
      <h2>Schedule Panel</h2>
    </div>
  
    <div id="s-details-container">
      <div id="Schedule_Name" class="schedule-details">
        <label for="Schedule_Name">Schedule ID:</label>
        <p><%= schedule.scheduleID %></p>
      </div>
  
      <div id="Schedule_Date" class="schedule-details">
        <label for="Schedule_Date">Date Created:</label>
        <p><%= event.date_created %></p>
      </div>
  
      <div id="Venue" class="schedule-details">
        <label for="Venue">Venue:</label>
        <p><%= schedule.venue %></p>
      </div>
  
      <div id="Schedule_Status" class="schedule-details">
        <label for="Schedule_Status">Status:</label>
        <p><%= schedule.status %></p>
      </div>
  
      <div id="Schedule_DateTime" class="schedule-details">
        <label for="Schedule_DateTime">Schedule Date and Time:</label>
        <p><%= schedule.date %></p>
      </div>
  
      <div id="Event_Details" class="schedule-details">
        <label for="Event_Details">Event Details:</label>
        <p><%= schedule.description %></p>
      </div>
  
      <div id="s-buttons">
        <section>
          <button id="Back-button" type="button" onclick="location.href='/admin/event/<%= event.eventid %>'">Back</button>
        </section>

        <button onclick="openPopup('<%= event.eventid %>','<%= schedule.scheduleID %>')">Delete Schedule</button>

        <button onclick="window.location.href = '/admin/scanQR?scheduleID=<%= schedule.scheduleID %>';">Scan QR</button>
        <% console.log("Schedule ID found in SCHEDULE.EJS: " + schedule.scheduleID) %>

        <section>
          <button type="button" onclick="location.href='/admin/event/<%= event.eventid %>/schedule/<%= schedule.scheduleID %>/editSchedule'">Edit Schedule</button>
      </section>
 
      </div>
    </div>
  </div>
  
</div>

<div class="popup" style="display: none;" class="e-containers"> 
  <div class="popup-head">
    <h3>Confirm Schedule Deletion</h3>
  </div>
  <div class="popup-body">
    <p>Are you sure you want to remove schedule <%= schedule.scheduleID %> from the schedule list?</p>
    <form action="/admin/event/<%= event.eventid %>/schedule/<%= schedule.scheduleID %>/deleteSchedule" method="POST">
      <input type="hidden" name="eventID" value="${popup.dataset.eventID}">
      <input type="hidden" name="schedID" value="${popup.dataset.schedID}">
      <div>
        <button type="submit"> Delete Schedule </button>
        <button type="reset" onclick="closePopup()">Cancel</button>  
      </div>
    </form>
  </div>
</div>
<script>

  // Back button removes everything from the forms
  function goBack(){
      var elements = document.getElementsByTagName("input");
      for (var i = 0; i < elements.length; i++) {
          if (elements[i].type == "text" || elements[i].type == "number") {
              elements[i].value = "";
          }
      }
      document.getElementById('status-inp').value = '';

      location.href="/admin/event/<%= event.eventid %>";
  }

  var backButton = document.getElementById('Back-button').addEventListener("click", () => {
      goBack()
  });

  function openPopup(eventID, schedID) {
  const popup = document.querySelector(".popup");
  popup.style.display = "block"; // Show the popup

  // Optionally store eventID and schedID for further use in the submit event handler
  popup.dataset.eventID = eventID;
  popup.dataset.schedID = schedID;

  const eventIDInput = document.querySelector(".popup form input[name='eventID']");
  eventIDInput.value = popup.dataset.eventID;

  const schedIDInput = document.querySelector(".popup form input[name='schedID']");
  schedIDInput.value = popup.dataset.schedID;
}

function closePopup() {
  const popup = document.querySelector(".popup");
  popup.style.display = "none"; // Hide the popup
}
</script>
</body>
</html>