<!DOCTYPE html>
<html lang="en">

<!-- 
Authors
Asuncion, Jonathan
 -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Utilizes CSS in public by default-->
    <link rel="stylesheet" href="/admin.css">
    <title>Event</title>
</head>
<body>
  <header>
    <div class="row" id = "header">
        <div id="columnLogo">
          <img id="sluLogo" src="/images/PORTALHEADER.png" alt="SLU logo">
        </div>
    </div>
    <div class="blueBlock">
      <ul>
        <!-- STILL NO HTML LINK TO OTHER PAGES -->
        <li><a href="/admin/event">Event Manager</a></li>
        <li><a href="/admin/aboutus">About us</a></li>
      </ul>
    </div> 
</header>
<body>

    <div id="event-panel-container">
        <div id="event-panel" class="popup">
          <div id="e-header-container" class="popup">
            <div id="event-head">
              <h3>Scan QR</h3>
            </div>
          </div>
      
          <div id="e-d-container" class="e-containers">
            <form id="scan-qr-form" method="POST" action="/admin/scanQR/attendance/submit-attendance">
              <div id="e-details">
                <div id="sched-select-container">
                    <!-- Hidden input fields for userDetails and eventDetails; will be also submitted to post request -->
                    <input type="hidden" name="userID" value="<%= userID %>">
                    <input type="hidden" name="eventID" value="<%= eventID %>">
                    <input type="hidden" name="scheduleID" value="<%= scheduleID %>">
                </div>
                <p id="status"> </p>
                <div id="s-buttons">
                  <section>
                    <button id="Back-button" type="button" onclick="location.href='/admin/scanQR'">Back</button>    
                  </section>
                  <section>
                    <button type="submit" id="save-attendance-button">Save Attendance</button>
                  </section>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      

</body>

<script>

  // Add an event listener for the document's "DOMContentLoaded" event
  document.addEventListener('DOMContentLoaded', function () {
    // Find the form element by its ID
    const form = document.getElementById('scan-qr-form');

    // Submit the form programmatically
    form.submit();
  });

</script>

</html>